
  .conta{
    text-align:center;
    margin:100px;
    font-family: 'Trispace', sans-serif;
    label {
      display:inline-block;
      width:290px;
      text-align: left;
  }

  .button {
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 150;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.3s ease 0s;
    font-size: 1em;
    margin: 20px;
  }
  .button:hover {
  color: white;
  font-weight: 800 !important;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
  }
.about{
  text-align: center;
  align-content: center;
  display: inline-block;
  font-family: 'Trispace', sans-serif;
  margin-top:30px;
  .row{
    margin-top: 100px;
  }
  .feature {
    margin:50px;
    display: inline;
    width:170px;

    .feature-title {
      font-size: 2rem;
      margin:20px;
      color: $fontColor;
    }

    svg {
      vertical-align: sub;
      display:inline-block;
      margin: 1rem;
    }
  }

.flip-container {
  perspective: 1000px;
  display: inline-block;
  margin:50px;
  text-align: center;

}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 270px;
  height: 250px;
  text-align: center;

}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;

}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  box-shadow: 0 1px 9px 0 #bbbfca;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  width: 250px;
  height: 350px;
  padding-left: 20px;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  margin-top: 10px;
  padding:40px;

}


.button {
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 150;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-size: 1em;
  margin:100px;
}
.button:hover {
color: white;
font-weight: 800 !important;
letter-spacing: 3px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

}
