#create-room {
  margin-top: 5rem;
  text-align: center;

  input {
    width: 24rem;
    margin-right: 1rem;
    background-color: #393e46 ;
    border:none;
    color: #fff;
    font-size: 1em;
    padding: 0.4em;
    width: 30%;
    margin:0;
  }

  button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 150;
    border-radius: 6px;
    display: inline;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
  }
  button:hover {
  color: white;
  font-weight: 800 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }
}
