#create-room {
  margin-top: 5rem;
  text-align: center;
  .form__field {
  font-family: inherit;
  width: 50%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color:white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;



  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: white;
    font-weight:700;
    &::placeholder {
      color: transparent;
    }
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, white,grey);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
  button {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 150;
    border-radius: 6px;
    display: inline;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
  }
  button:hover {
  color: white;
  font-weight: 800 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }
}
