
.features {
  padding-bottom: 4rem;
  background-image: linear-gradient(to bottom, #010509, #141718, #202324, #2e3030, #3c3e3d);
  color: white;
  text-align: center;
  font-family: 'Trispace', sans-serif;
 h3{
   margin-bottom: 70px;
 }
  .front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    width: 200px;
    height: 200px;
  }



  &.how-it-works {
    padding-top: 10rem;
    margin-top: 10rem;
    font-family: 'Trispace', sans-serif;
    background-image: linear-gradient(to top, #010509, #141718, #202324, #2e3030, #3c3e3d);
    .icon{
      margin:80px;
    }
    /* entire container, keeps perspective */
}

  .feature {
    margin:20px;
    display: inline-block;
    width:170px;

    .feature-title {
      font-size: 1.5rem;

      color: white;
    }

    svg {
      vertical-align: sub;
      display:inline-block;
      margin:30px;
    }
  }

.flip-container {
  perspective: 1000px;
  display: inline-block;
  margin:30px;
  text-align: center;

}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);

  }

.flip-container, .front, .back {
  width: 250px;
  height: 250px;
  text-align: center;


}

/* flip speed goes here */
.flipper {
  transition: 0s ease;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40px;
  background-image: linear-gradient(to right, #010509, #171a1b, #272a2a, #383b3a, #4b4c4b);
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  width: 220px;
  height: 200px;
  background-color: none;

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  width: 300px;
  height: 280px;
  margin-top: 7px;
  padding:40px;
 svg {
   vertical-align: sub;
   display:inline-block;
   margin:30px;
}

}
}
