#footer {
  padding: 5rem 0;
  font-family: 'Trispace', sans-serif;

  h5 {
    font-size: 2.4rem;
  }
  .row{
    margin: 30px;
  }
}
#Contact{
  body {
  background: #7877e6;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

header {
  margin: 20px;
  text-align: center;
}

.success {
  color: #0ff40f;
}

.error {
  color: #960303;
}
}
